
@{
    ViewData["Title"] = "Home Page";
} <div class="card-body text-center">

    <p class="card-text">FlorilLia</p>
</div>
<br />
@*foto*@
<center>
    <div class="card" style="width:250px">
        <body>
            <img src="~/Imagens/download.jfif" class="rounded mx-auto d-block" alt="...">


        </body>
        
    </div>
</center>
<body>
    <img src="~/Imagens/download (1).jfif" alt="..." class="img-thumbnail">
    <table background="hey.png" width="200" height="50">
        <td>
            <form action="" method="post">
                <br>
                <font face="tahoma" size="4">Nome</font><input tupe="text" name="Nome">
                <br>
                <h6>Comentario</h6>
                <textarea name="mensagems" id="mensagems"></textarea>
                <br>
            </form>
        </td>
    </table>
    <table background="hey.png" width="200" height="50">
        <form action="https://localhost:44381/Comentario" method="post">
            <input type="submit" value="Comentar">
        </form>
    </table>
</body>
@*Comentario*@

   



<br />
@*<div class="card" style="width:200px">
    <img src="~/Imagens/download.jpg" class="rounded mx-auto d-block" alt="...">
    <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Livro maravilhoso haaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        <a href="https://localhost:44381/Comentarios" class="btn btn-primary">Enviar mensagem</a>

    </div>
</div>*@

<div class="btn-group">
    @*<button type="button" class="btn btn-primary">Salvar</button>*@
</div>
